body{
    background-color:#2A4C09;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 5px black;
    font: bold 22pt Arial
    

}

section {
    background-color: #F6F7EC;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    

}

input {
    border-radius: 10px;
    color: rgb(67, 107, 52);
    font: bold 21pt Arial
    
}

tbody {
    background-color: rgb(31, 151, 231);
    font: normal 15pt Arial;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    box-sizing: border-box;
    
}